header{
    background-color: blanchedalmond;
   
}

li {
    display: flex;
    text-indent: 5px;
    font-size: 18px;
    
}

h1 {
    text-align: center;
}

a{
    color: black;
}

body{
    background-color: lightsalmon;
}

footer{
    text-align: center;

}