#header {
    height: 100px;
    width: 700px;
    background-color:burlywood;
    margin-left:auto;
    margin-right:auto;
}

#main {
    width:660px;
    height:1000px;
    background-color:peachpuff;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    vertical-align: middle;
}

footer {
    height: 100px;
    width: 680px;
    background-color: burlywood;
    margin-left:auto;
    margin-right:auto;
}

#leftbar {
    width: 150px;
    height: 1000px;
    background-color: lemonchiffon;
    display: inline-block;
}

#imagesection {
    width: 468px;
    height: 958px;
    background-color:snow;
    display: inline-block;
    vertical-align: top;
    padding:20px;
    border:1px solid black;  
}

.photo {
    width: 77px;
    height: 200px;
    background-color: silver;
    display: inline-block;
    padding:10px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:20px;
}
.phototwo{
    width: 77px;
    height: 200px;
    background-color: lightsalmon;
    display: inline-block;
    padding:10px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:20px;
}

#photo-container {
    line-height: 0px;
}