/*
ID and Class naming rules:
Dont start a number
Dontnot use special characters
Dont use spaces
Dont use a capital letter
Id have to be unique to each webpage.*/


body{
    font-family: Arial; /*This affects the unique id because it doesnt have a font family. It also, changes the first h1 element in the html file because we have not given it a font family. */
    background-color:burlywood;
}
#first{
    font-family: verdana,; /*This only changes the first paragraphs font*/
}
#unique{
    color:darkred;
}
.other{
    font-family: cursive ; /* This changes text for paragraph 3 and 3rd h1 element. This will also affect the second paragrah because the font Impact gets overwriten..*/
}
.green{
    color: black;
    background-color:whitesmoke;
    /* This will affect the second paragraph*/
}
p{
    font-family: sans-serif; 
}
#margin{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px; 
    padding-bottom: 10px; 
}
#paddings{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px; 
    padding-bottom: 10px;
}