body{
    background-color:darkred;
    margin:0px;
}
div {
    background-color:peru;
    width:85px;
    height:85px;
    border-color: navy;
    border-style: solid;
}

#firstPart{
    width:150px;
    height:150px;
    background-color:yellow;
}
#secondPart{
    width:250px;
    height:250px;
}
#thirdPart{
    width:450px;
    height:450px;
}
.pink{
    background-color:pink;
    border:solid 10px blanchedalmond ;

}
.yellowgreen{
    background-color: yellowgreen;
    

}
.navajowhite{
    background-color:purple;
    background-color:navajowhite;

}