/*
CSS = Cascading Style Sheet
    CSS Parts:
    Selector
    Rules: property & value
 */
 body{
     background-color: cyan;
    }
 /* body = selector , backfround-color = property,
  cyan= value */

p{
    color: black;
    font-family: "Arial";
    font-weight: bold;
    font-size: 18px;
}

#Thefirstdiv {
    background-color:orange;
    margin: 10px;
}

#dolphin{
    background-color:orange;
}

/* This box is exactly 300 pixels wide
becayse we add the width, borders for each side,
and paddings together to end up with 300 pixels. */

.A_box {
    width: 262px;
    height: 294px;
    background-color: cornsilk;
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    padding-left: 14px;
    padding-right: 14px;
/* when removing padding-top:100px; take border size
 and width or height into consideration and change
those back to get accurate pixels */

}/*Add the padding pixels and, 
 border pixels twice,  */

  /* setting marigin left and
  right to auto will center the element */

 /*The (.) selects classes in 
 CSS the (#) symbol selects the id*/

/* use . to access div's that are empty and use 
the properties and values show above to customize 
the empty block */

#special-paragraph { 
    font-size: 18px;
    font-family: "Verdana";
    color: black;
    /*text-decoration:line underline overline;*/
    font-weight:bold;
    font-style: italic;
    line-height:20px;
    text-align: justify;/* The justify value fills out lines 
equally between text. */
}