/*
CSS = Cascading Style Sheet
    CSS Parts:
    Selector
    Rules: property & value
 */
 body{
     background-color: cyan;
    }
 /* body = selector , backfround-color = property,
  cyan= value */

p{
    color: purple;
    font-size: 50px;
}

#FirstDiv {
    background-color: black;
    margin: 10px;
}

#dolphin{
    background-color: yellow;
}

/* This box is exactly 300 pixels wide
becayse we add the width, borders for each side,
and paddings together to end up with 300 pixels. */

.Box {
    width: 300px;
    height: 300px;
    background-color: cornsilk;
    border-style: solid;
    border-width: 5px;
    border-color:purple;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:25px;
    padding-left:12px;

/* when removing padding-top:100px; take border size
 and width or height into consideration and change
those back to get accurate pixels */

}/*Add the padding pixels and, 
 border pixels twice,  */

  /* setting marigin left and
  right to auto will center the element */

 /*The (.) selects classes in 
 CSS the (#) symbol selects the id*/

/* use . to access div's that are empty and use 
the properties and values show above to customize 
the empty block */

#special-paragraph { 
    font-size: 24px;
    font-family: "Arial";
    color: black;
    /*text-decoration:line underline overline;*/
    font-weight:bold;
    font-style: italic;
    line-height:48px;
   /* direction:rtl;
    unicode-bidi:bidi-override; */
    text-align: left;
/* justify for text align fill sout lines 
equally to */



}
